body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

img {
    max-width: 100%;
}

p {
  margin-top: 0;
}

ul>li {
    display: block;
}

a {
    color: #00f;
    text-decoration: none;
}

button {
    cursor: pointer;
}

#root {
    background-color: #fff;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}

.container h1 {
    display: block;
    margin: 0;
    font-size: 1.4rem;
}

/* HEADER */

.header-container {
    background-color: #eee;
    padding: 0 2rem;
    line-height: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 .1rem .4rem #aaa;
}

.header {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 1;
    font-weight: 700;
    font-size: 1.4rem;
}

.logo img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.menu {
    display: flex;
}

.menu > a {
    display: block;
    padding: 0 1rem;
}

.menu > a:hover {
    background-color: #e0e0e0;
}

/* FILE LIST */

.file-list-actions {

}

.shared {
    float: right;
    margin-right: 0.5rem;
}

.shared img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

.file-icon-span {
    display: inline-block;
    width: 1.4rem;
}

.file-list-actions a {
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem;
    border: .1px solid #ddd;
    color: #666;
}

.file-list-actions a:hover {
    background-color: #eee;
    color: #333;
}

.file-list {
    display: block;
}

.file-item {
    background-color: #fff;
    padding: 0.8rem 1rem;
    border-bottom: 0.1rem solid #ddd;
    display: flex;
    align-content: space-between;
}

.file-item > a {
    display: block;
    flex: 3;
}

.file-item > .file-date {
    font-size: .6rem;
    padding: 0 .2rem;
    line-height: 1.4rem;
    width: 10rem;
}

.file-item > .file-size {
    width: 10rem;
    text-align: right;
}

.file-item:hover {
    background-color: #efefef;
}

.filters {
    display: flex;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border-bottom: .1rem solid #ccc;
}

.filters button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    background-color: #fff;
    border: 0;
}

#nameFilter {
    flex: 1;
}

#sizeFilter, #createdFilter {
    width: 10rem;
}

.arrow-up, .arrow-down {
    position: relative;
}

.arrow-down:after {
    display: block;
    content: '\2304';
    font-size: .8rem;
    line-height: 1;
    position: absolute;
    right: .5rem;
    top: 0;
}

.arrow-up:after {
    display: block;
    content: '\2303';
    font-size: .8rem;
    line-height: 1;
    position: absolute;
    right: .5rem;
    top: 0;
}

.arrow-down button, .arrow-up button {
    font-weight: 700;
}

/* UPLOAD */

#drop-area {
    border: .1rem dashed #ccc;
    border-radius: .5rem;
    width: 30rem;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 2rem;
    line-height: 10rem;
}

#drop-area.highlight {
    border-color: purple;
}
#uploadForm {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
#fileElem {
    display: none;
}

/* FILE INFORMATION */

.file-information {
    display: flex;
}

.file-data {
    flex: 1;
    padding-right: 2rem;
}

.file-preview {
    width: 50%;
}

h1.file-name {
    margin-bottom: 1rem;
}

.file-size, .file-date {
    margin-bottom: 0.5rem;
}

/* MODALS */

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #fff;
    box-shadow: 0 0 2rem #eee;
    width: 90%;
}

.modal.confirm {
    max-width: 30rem;
}

.modal-body {
    padding: 2rem;
}

.modal h2 {
    font-size: 1.4rem;
    margin: 0 0 1rem;
}

.modal-btns {
    background-color: #eee;
    padding: 1rem 2rem;
}

.modal-btns button {
    appearance: none;
    background-color: #ccc;
    border: .1rem solid #efefef;
    color: white;
    padding: 0.5rem 1rem;
}

.modal-btns button:hover {
    background-color: #bbb;
    color: white;
}

.modal-btns button.btn-danger {
    background-color: #c00;
}

.modal-btns button.btn-danger:hover {
    background-color: #b00;
}
