body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

body, input, button, select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.sticky {
    display: block;
    position: sticky;
    left: 0;
    top: 0;
}

.progress {
    display: block;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 9px;
    text-align: center;
    padding: 0.4em;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

img {
    max-width: 100%;
}

p {
  margin-top: 0;
}

ul>li {
    display: block;
}

a {
    color: #00f;
    text-decoration: none;
}

button {
    cursor: pointer;
}

#root {
    background-color: #fff;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container h1 {
    display: block;
    margin: 0;
    font-size: 1.4rem;
}

#app-root {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* HEADER */

.header {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 1;
    font-weight: 700;
    font-size: 1.4rem;
}

.logo img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.menu {
    display: flex;
}

.menu > a {
    display: block;
    padding: 0 1rem;
}

.menu > a:hover {
    background-color: #e0e0e0;
}

/* FILE LIST */

.file-list-actions {
    display: block;
}

.shared {
    float: right;
    margin-right: 0.5rem;
}

.shared img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

.file-icon-span {
    display: inline-block;
    width: 1.4rem;
}

.file-list-actions a {
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem;
    border: .1px solid #ddd;
    color: #666;
}

.file-list-actions a:hover {
    background-color: #eee;
    color: #333;
}

.file-list {
    display: block;
}

.file-item {
    background-color: #fff;
    padding: .8rem 1rem .8rem .4rem;
    border-bottom: .1rem solid #ddd;
    display: flex;
    align-content: space-between;
    border-left: .6rem solid #fff;
}

.file-item > a {
    display: block;
    flex: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-item > .file-date {
    font-size: .6rem;
    padding: 0 .2rem;
    line-height: 1.4rem;
    width: 10rem;
}

.file-item > .file-size {
    width: 10rem;
    text-align: right;
}

.file-item:hover {
    background-color: #efefef;
    border-left-color: #ddd;
}

.filters {
    display: flex;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border-bottom: .1rem solid #ccc;
    background-color: #fff;
}

file-filters {
    left: 0;
    top: 0;
    position: sticky;
    display: block;
}

.filters button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    background-color: #fff;
    border: 0;
}

#nameFilter {
    flex: 1;
}

#sizeFilter, #createdFilter {
    width: 10rem;
}

.arrow-up, .arrow-down {
    position: relative;
}

.arrow-down:after {
    display: block;
    content: '\2304';
    font-size: .8rem;
    line-height: 1;
    position: absolute;
    right: .5rem;
    top: 0;
}

.arrow-up:after {
    display: block;
    content: '\2303';
    font-size: .8rem;
    line-height: 1;
    position: absolute;
    right: .5rem;
    top: 0;
}

.arrow-down button, .arrow-up button {
    font-weight: 700;
}

.aside-container {
    display: flex;
    min-height: calc(100vh - 4rem);
}

.aside {
    width: 15%;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #f5f5f5;
}

.aside-content {
    width: 65%;
    padding-left: 2rem;
    padding-top: 2rem;
}

.aside-actions {
    width: 20%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

files-list-categories {
    display: block;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.categories li {
    position: relative;
}

.categories li a {
    display: block;
    padding: 0.5rem;
    color: #666;
    font-weight: 300;
    padding-left: 1.4rem;
    background-image: url(../img/folder.svg);
    background-size: auto 1rem;
    background-repeat: no-repeat;
    background-position: left center;
}

.categories li a.active {
    font-weight: 700;
    color: #000;
}

.categories li a:hover {
    color: #000;
}

.draggable.is-dragged {
    background-color: yellow;
    border-left-color: orange;
}

.droppable.droppable-over {
    background-color: #fff;
}

.add-category-form {
    display: flex;
}

.add-category-form input {
    appearance: none;
    display: block;
    flex: 1;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0;
    line-height: 1.6rem;
}

.add-category-form button {
    appearance: none;
    display: block;
    width: 2rem;
    line-height: 1.6rem;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 0;
    background-color: #999;
    color: #fff;
}

/* UPLOAD */

.upload-file {

}

#drop-area {
    border: .1rem dashed #ccc;
    border-radius: .1rem;
    width: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

#drop-area label {
    display: block;
    line-height: 1;
    padding: 3rem 0;
    text-align: center;
    font-size: 1rem;
}

#drop-area.highlight {
    border-color: purple;
}
#uploadForm {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
#fileElem {
    display: none;
}

/* FILE INFORMATION */

.file-information {
    display: flex;
}

.file-data {
    flex: 1;
    padding-right: 2rem;
}

.file-preview {
    width: 50%;
}

h1.file-name {
    margin-bottom: 1rem;
}

.file-size, .file-date {
    margin-bottom: 0.5rem;
}

.file-actions li {
    display: block;
}

.share-link {
    padding: .5rem;
    margin-top: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30rem;
    line-break: anywhere;
    background-color: #eee;
    display: none;
}

.file-actions li a,
.file-actions li button,
.file-actions li label {
    appearance: none;
    display: inline-block;
    padding: .5rem;
    font-size: .1rem solid #eee;
    border: 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
    background-color: #fff;
    color: #00f;
}

.file-actions li a:hover,
.file-actions li button:hover,
.file-actions li label:hover {
    background-color: #f0f0f0;
}

.file-actions li button.warning {
    color: red;
}

/* MODALS */

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #fff;
    box-shadow: 0 0 2rem #ccc;
    width: 90%;
}

.modal.confirm {
    max-width: 30rem;
}

.modal-body {
    padding: 2rem;
}

.modal h2 {
    font-size: 1.4rem;
    margin: 0 0 1rem;
}

.modal-btns {
    background-color: #eee;
    padding: 1rem 2rem;
}

.modal-btns button {
    appearance: none;
    background-color: #ccc;
    border: .1rem solid #efefef;
    color: white;
    padding: 0.5rem 1rem;
}

.modal-btns button:hover {
    background-color: #bbb;
    color: white;
}

.modal-btns button.btn-danger {
    background-color: #c00;
}

.modal-btns button.btn-danger:hover {
    background-color: #b00;
}

/* OTL: one time links */

.otl {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otl a {
    display: inline-block;
    padding: 0.5rem;
    border-bottom: .1rem solid #ddd;
}

.otl a:hover {
    background-color: #fff;
}
